.container {
    width: 750px;
    height: 750px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.dropdowns {
    display: flex; 
}

.input {
    display: flex;
}

.dropdowns-select {
    margin-right: 10px; /* Adjust spacing between dropdowns */
    margin-left: 10px;
    font-size: 12px; /* Decrease font size */
    padding: 4px; /* Decrease padding */
}


.button{ 
    top: 50%;
}